body {
	background-color: midnightblue;
}
h1 {
	margin-left: 650px;
}
p {
	margin-left: 20px;
	margin-bottom: 70px;
}
img {
	float: left;
	margin-right: 20px;
}
u {
	color: darkorange;
}
a {
	color: darkred;
}